name: CI/CD Flutter

on:
  push:
    branches:
      - development
  pull_request:
    branches:
      - development

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Install Flutter (specific version)
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.5'   # <-- change to your required version

      - name: Clean
        run: flutter clean

      - name: Install dependencies
        run: flutter pub get

      - name: Android APK Build
        run: flutter build apk --release
        
      - name: Android App Bundle Build
        run: flutter build appbundle --release